body{
  font: 15px/1.5;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  font-family: 'Oxygen', sans-serif;
  resize: both;
  overflow: auto;
}

.container{
  width:80%;
  margin:auto;
  overflow: hidden;
  text-align:center;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:30px;
  background:#39a3e5;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  margin-top: 10px;
}

header{
  background:#082b63;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#39a3e5 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
  padding-bottom: 5px;
}

header nav{
  float:right;
  margin-top:10px;
}

header a{
  color:#39a3e5;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

#showcase{
  min-height:400px;
  background:url('../img/logo.png') no-repeat 50% 5%;
  background-size: 150px;
  text-align:center;
  color:black;
}

#showcase h1{
  margin-top:180px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

#selec{
  padding:15px;
  color:#ffffff;
  background:#082b63;
}

#selec form {
  margin-top:10px;
  text-align: center;
}


footer{
  padding:5px;
  margin-top:10px;
  color:#ffffff;
  background-color:#082b63;
  text-align: center;
  width: 100%;
  overflow: auto;
}
#f{
    position: fixed;
    left: 0;
    bottom: 0;
}

@media(max-width: 768px){
  header #branding,
  header nav,{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #selec button, .quote button{
    display:block;
    width:100%;
  }
}
.tab {
  overflow: visible;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: center;
  overflow: auto;
}

.loginbox{
      width: 600px;
      height: 420px;
      background: #082b63;
      color: #fff;
      top:50%;
      left:50%;
      position: absolute;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
    }
    #logo{
      width:100px;
      height: 100px;
      position: absolute;
      left: calc(50% - 50px);
      top:5px;
    }
    .loginbox h1{
      margin: 0;
      padding: 0 0 20px;
      padding-top: 120px;
      text-align: center;
      font-size: 22px;
    }
    .loginbox p{
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
    .loginbox input{
      width: 100%;
      margin-bottom: 20px
    }
    .loginbox input[type="text"], input[type="password"]{
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      font-size: 16px;
      color: white;
    }
    .loginbox input[type="submit"]{
      border: none;
      outline: none;
      height: 40px;
      background: #39a3e5;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
      max-width: 200px;
      position: fixed;
      left: 35%;
      text-align: center;
      margin-top: 10px;
    }
    .loginbox input[type="submit"]:hover{
      cursor: pointer;
      background: #ffc107;
      color: #000;
    }
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #082b63;
  color: #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: #082b63;
  color: #fff;
  text-align: center;
}
.tabcontent input[type=text]{
  width: 30px;
}
.sem{
  padding: 10px 0 10px 0;
}
.week input{
  display: inline-block;
  padding: 0 10px 0 10px;
}
.tabcontent h5{
  display: inline;
  padding: 10px 0 10px 0;
  font-size: 15px;
}
.tabcontent h4{
  padding: 10px 0 10px 0;
}
.tabcontent button[type=submit]{
  width: 150px;
  height: 35px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color:#39a3e5;
  color: #fff;
  font-size: 15px;
}
.tabcontent button:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.logmsg{
	text-align:center;
	padding-top:10px;
	font-size:20px;
}
#err{
	color:#ff2b2b;
}
#suc{
	color:#000000;
}
header li input[type=submit]{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:#39a3e5;
    font-size:20px;
}
#subjectEntry table  {
    border-collapse: collapse;
}
 
#subjectEntry table td, th  {
    padding: 5px;
}
.delete-button  {
    padding: 2px 5px;
    background: #CD5C5C;
    cursor: pointer;
}
#subjectEntry{
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}
th{
	background-color: #39a3e5;
	color:white;
	padding: 5px;
	border: 1px solid black;
	width: 150px;
}
table{
	border-collapse:collapse; table-layout:fixed;
}
tr,td{
	overflow: hidden;
	max-width: 130px;
	width:20px;
	word-wrap: break-word;
}
#subjectEntry input[type=text]{
	width: 90%;
	text-align: center;
	height: 20px;
	overflow:scroll;
}
#subjectEntry select{
	text-align: center;
}
#subjectEntry{
	display: inline-block;
}
.blue-button{
  width: 150px;
  height: 35px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color:#39a3e5;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
#SubjectButtons input[type=submit]:hover{
	background-color:#ffc107;
	color:#000;
}
.create-button  {
 
} 
.edit-button  {
    padding: 2px 5px;
    background: #25A6E1;
    cursor: pointer;
}
#SubjectButtons{
	padding-top: 20px;
}
